* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: rgba(20, 23, 53);
}
.wrapper{
  padding:20px 40px;
  position: absolute;
  height:100vh;
}
header{
  padding: 10px;
  color:white;
}